In [1]:
import pandas as pd

In [2]:
#importing the dataset
data=pd.read_csv("amazon_alexa.tsv",delimiter='\t')
data.shape

(3150, 5)

In [3]:
data.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [4]:
data.describe()

            rating     feedback
count  3150.000000  3150.000000
mean      4.463175     0.918413
std       1.068506     0.273778
min       1.000000     0.000000
25%       4.000000     1.000000
50%       5.000000     1.000000
75%       5.000000     1.000000
max       5.000000     1.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3150 non-null   object
 4   feedback          3150 non-null   int64
dtypes: int64(2), object(3)
memory usage: 123.2+ KB

In [6]:
data.isnull().sum()  # For checking the Null Values

rating              0
date                0
variation           0
verified_reviews    0
feedback            0
dtype: int64

In [7]:
data.describe(include='object')

             date   variation verified_reviews
count        3150        3150             3150
unique         77          16             2301
top     30-Jul-18  Black  Dot
freq         1603         516               79

In [9]:
data['variation'].value_counts()

Black  Dot                      516
Charcoal Fabric                 430
Configuration: Fire TV Stick    350
Black  Plus                     270
Black  Show                     265
Black                           261
Black  Spot                     241
White  Dot                      184
Heather Gray Fabric             157
White  Spot                     109
White                            91
Sandstone Fabric                 90
White  Show                      85
White  Plus                      78
Oak Finish                       14
Walnut Finish                     9
Name: variation, dtype: int64

### 3. Finding the Length, Polarity and Subjectivity of the Text

In [10]:
#First we need to Install TextBlob
!pip install textblob

Collecting Textblob
  Using cached textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\harshal\anaconda3\lib\site-packages (from Textblob) (3.6.1)
Requirement already satisfied: joblib in c:\users\harshal\anaconda3\lib\site-packages (from nltk>=3.1->Textblob) (1.0.1)
Requirement already satisfied: regex in c:\users\harshal\anaconda3\lib\site-packages (from nltk>=3.1->Textblob) (2021.4.4)
Requirement already satisfied: tqdm in c:\users\harshal\anaconda3\lib\site-packages (from nltk>=3.1->Textblob) (4.59.0)
Requirement already satisfied: click in c:\users\harshal\anaconda3\lib\site-packages (from nltk>=3.1->Textblob) (7.1.2)
Installing collected packages: Textblob
Successfully installed Textblob-0.15.3

In [11]:
import pandas as pd  #For Importing the DATASET

from textblob import TextBlob #For calculating the Polarity and Subjectivity

In [13]:
data=pd.read_csv("amazon_alexa.tsv",delimiter='\t')
data.shape

(3150, 5)

In [14]:
data.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [15]:
data.head(10)

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
5,5,31-Jul-18,Heather Gray Fabric,I received the echo as a gift. I needed anothe...,1
6,3,31-Jul-18,Sandstone Fabric,"Without having a cellphone, I cannot use many ...",1
7,5,31-Jul-18,Charcoal Fabric,I think this is the 5th one I've purchased. I'...,1
8,5,30-Jul-18,Heather Gray Fabric,looks great,1
9,5,30-Jul-18,Heather Gray Fabric,Love it! I’ve listened to songs I haven’t hear...,1

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3150 non-null   object
 4   feedback          3150 non-null   int64
dtypes: int64(2), object(3)
memory usage: 123.2+ KB

In [17]:
data['length']=data['verified_reviews'].apply(len)

In [18]:
data.head()

,rating,date,variation,verified_reviews,feedback,length
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172
4,5,31-Jul-18,Charcoal Fabric,Music,1,5

### what is Meant By Text Polarity?

It is the expression that determines the sentimental aspect of an opinion. In textual data, the result of sentiment analysis can be determined for each entity in the sentence, document or sentence. The sentiment polarity can be determined as positive, negative and neutral.

In [21]:
#Calculate the Polarity of review
def get_polarity(text):
    textblob=TextBlob(str(text.encode('utf-8')))
    pol=textblob.sentiment.polarity
    return pol
# Lets apply the Function to the sentence

data['polarity']=data['verified_reviews'].apply(get_polarity)

In [22]:
data.head()

,rating,date,variation,verified_reviews,feedback,length,polarity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13,0.625
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9,0.875
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195,-0.100
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172,0.350
4,5,31-Jul-18,Charcoal Fabric,Music,1,5,0.000

In [25]:
print(data.iat[2,3])

Sometimes while playing a game, you can answer a question correctly but Alexa says you got it wrong and answers the same as you.  I like being able to turn lights on and off while away from home.

### Text Subjectivity

In natural language, subjectivity refers to expression of opinions, evaluations, feelings, and speculations and thus incorporates sentiment. Subjective text is further classified with sentiment or polarity.

In [26]:
def get_subjectivity(text):
    textblob=TextBlob(str(text.encode('utf-8')))
    subj=textblob.sentiment.subjectivity
    return subj

#let's apply the Function

data['subjectivity']=data['verified_reviews'].apply(get_subjectivity)

In [27]:
data[['length','polarity','subjectivity']].describe()

            length     polarity  subjectivity
count  3150.000000  3150.000000   3150.000000
mean    132.049524     0.349792      0.528922
std     182.099952     0.303362      0.256324
min       1.000000    -1.000000      0.000000
25%      30.000000     0.123852      0.419196
50%      74.000000     0.350000      0.585000
75%     165.000000     0.533333      0.695486
max    2851.000000     1.000000      1.000000

In [35]:
#Summarizing tHe Data
print(data[['verified_reviews']])

                                       verified_reviews
0                                         Love my Echo!
1                                             Loved it!
2     Sometimes while playing a game, you can answer...
3     I have had a lot of fun with this thing. My 4 ...
4                                                 Music
...                                                 ...
3145  Perfect for kids, adults and everyone in betwe...
3146  Listening to music, searching locations, check...
3147  I do love these things, i have them running my...
3148  Only complaint I have is that the sound qualit...
3149                                               Good

[3150 rows x 1 columns]

###   4. Finding the Words, Characters, and       Punctuation Count

In [36]:
#import the Libraries
import pandas as pd

In [37]:
data=pd.read_csv('amazon_alexa.tsv',delimiter='\t')
data.shape   # lets check the shape of dataset

(3150, 5)

In [38]:
data.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [39]:
#counting the character in reviews
data['char_count']=data['verified_reviews'].apply(len)
#calculating the Word Count
data['word_count']=data['verified_reviews'].apply(lambda x: len(x.split()))
#calculating the Word density
data['word_density']=data['char_count']/(data['word_count']+1)

In [41]:
#importing the List of Punctuation
import string
punctuation = string.punctuation

# Calculating the Punctuation Count
data['punctuation_count'] = data['verified_reviews'].apply(lambda x: len("".join(_ for _ in x if _ in punctuation)))

In [42]:
## lets summarize the Newly Created Features
data[['char_count','word_count','word_density','punctuation_count']].describe()

        char_count   word_count  word_density  punctuation_count
count  3150.000000  3150.000000   3150.000000        3150.000000
mean    132.049524    25.293016      4.605345           3.887937
std     182.099952    34.584971      1.134737           5.762348
min       1.000000     0.000000      0.500000           0.000000
25%      30.000000     6.000000      4.269231           1.000000
50%      74.000000    14.000000      4.805665           2.000000
75%     165.000000    32.000000      5.207974           5.000000
max    2851.000000   526.000000     32.500000         121.000000

In [ ]:
#Still working @ HarshalN.D